#container {
  height: 100vh;
}

.hidden-content i {
  display: none;
}

.matched i {
  background-color: green;
  pointer-events: none;
}

.unmatched i {
  background-color: red;
}

.freeze {
  pointer-events: none;
}
